<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>殺率設定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{../js/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
  </head>
  <body>
	<div th:include="header :: navbar"></div>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3>殺率設定</h3>
				<div class="tabbable" id="tabs-206948">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active show" href="#tab1" data-toggle="tab">時時彩</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#tab2" data-toggle="tab">快三</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div>
<!-- 								<p th:text="|当日累积派彩:${totalWinMoney} -->
<!-- 								 当日累积投注: ${totalBetMoney} -->
<!-- 								 当日累积返点:${totalPoint} -->
<!-- 								 当前平台杀率:${totalWinMoney}%|" > -->
								<p>
								当日累积派彩: 300,500.00   当日累积投注:380,800.00    当日累积返点:10,006.00  当前平台杀率:5%
								</p>
								<form role="form">
									<div class="form-group form-inline">
										<label for="time">杀率区间段</label>
									  <div class="col-8 form-inline">
									    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="startTime">
									    -
									    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="endTime">
									  </div>
									</div>
									<div class="form-group form-inline">
										<label for="issue">杀率奖期</label>
										<div class="col-4">
											<input type="number" class="form-control" id="issue">
										</div>
									</div>
									<div class="form-group form-inline">
										<label for="percent">杀率比例</label>
										<div class="col-4">
										<input type="number" class="form-control" id="percent">%(0-100)
										</div>
									</div>
									<button type="submit" class="btn btn-primary">
										保存
									</button>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<p>
								Howdy, I'm in Section 2.
							</p>
						</div>
					</div>
				</div>
				</div>
		</div>
	</div>
  </body>
  <script type="text/javascript">
  </script>
</html>