<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="/layout">
  <head layout:fragment="contentHead">
    <title>殺率設定</title>
    
  </head>
  <body>
  	<div layout:fragment="contentCss">
  		<link th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>
    	<link th:href="@{/css/jquery-ui-timepicker-addon.css}" rel="stylesheet"/>
    	<link th:href="@{/css/jquery.toast.css}" rel="stylesheet"/>
  	</div>
    <div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<h3>杀率设定</h3>
				<div>
					<ul class="nav nav-pills">
						<li class="" th:each="game : ${allGameData}" th:classappend="${game.key} == ${lottery} ? active : ''">
							<a th:if="${game.key == lottery}" href="javascript:void(0);" th:text="${game.value}">時時彩</a>
							<a th:unless="${game.key == lottery}" th:href="@{'/killrateSetting/index/' + ${game.key}}" th:text="${game.value}">時時彩</a>
						</li>
					</ul>
					<div class="tab-content mt-3">
						<div class="tab-pane active" id="tab1">
							<div>
								<form id='settingForm' role="form" th:action="@{/killrateSetting/index/__${lottery}__}">
									<input type="hidden" name="pageNo" id="pageNo">
									<div class="form-group form-inline mt20">
										<font color="red">*杀率区间段与杀率奖期请择一输入</font>
									</div>
									<div class="form-group form-inline mt20">
										<label for="time">杀率区间段</label>
									  	<div class="col-8 form-inline">
										    <input class="form-control mr-3" type="text" value="" id="startTime" name='startTime' readonly>
										    -
										    <input class="form-control ml-3" type="text" value="" id="endTime" name='endTime' readonly>
									  	</div>
									</div>
									<div class="form-group form-inline">
										<label for="issue">杀率奖期</label>
										<div class="col-4">
											<input type="text" class="form-control" name="issue" id="issue">
										</div>
									</div>
									<div class="form-group form-inline">
										<label for="percent">杀率比例</label>
										<div class="col-6">
										<input type="text" class="form-control mr-3" id="killrate" name='killrate'>%(0-100) 若设定20%,表示若开启杀率则至少赢20%以上
										</div>
									</div>
									<div class="btn btn-primary" onclick='doGenerate();' >
										保存
									</div>
								</form>
							</div>
							<div style="margin-top: 10px;">
								<table class="table table-bordered mt-3 ">
									<thead>
										<tr>
											<th>奖期</th>
											<th>杀率比例</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="sortable">
										<tr th:if="${#lists.isEmpty(list)}" class="indexData">
											<td colspan="3" style="text-align: center;">尚无数据</td>
										</tr>
										<tr th:unless="${#lists.isEmpty(list)}" class="indexData" th:each="item : ${list}" th:id="'dataTr' + ${item.id}">
											<td width="30%">[[${item.issue}]]</td>
											<td width="30%">
												<span th:id="'killrateShow' + ${item.id}">[[${item.killrate}]]%</span>
												<input type="text" th:name="'killrateInput' + ${item.id}" th:id="'killrateInput' + ${item.id}" th:value="${item.killrate}" style="display:none;">
											</td>
											<td width="30%">
												<a th:id="'editBtn' + ${item.id}" href="javascript:void(0);" class="btn btn-primary btn-xs btn-t edit-hide" th:onclick="'edit(\'' + ${item.id} + '\')'" >编辑</a>
												<a th:id="'removeBtn' + ${item.id}" href="javascript:void(0);" th:data-issue="${item.issue}" th:data-id="${item.id}" class="btn btn-primary btn-xs btn-t edit-hide" onclick="remove(this)" >删除</a>
	 											<a th:id="'saveBtn' + ${item.id}" href="javascript:void(0);" class="btn btn-primary btn-xs btn-t edit-show" style="display:none;" th:onclick="'save(\'' + ${item.id} + '\')'">储存</a> 
												<a th:id="'cancelBtn' + ${item.id}" href="javascript:void(0);" class="btn btn-primary btn-xs btn-t edit-show" style="display:none;" th:onclick="'cancel(\'' + ${item.id} + '\')'" >取消</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="page :: page"></div>
	</div>
  </body>
  <div layout:fragment="contentJs">
	<script th:src="@{/js/jquery-ui-1.11.0.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery-ui-timepicker-addon.js}" type="text/javascript"></script>
	<script th:src="@{/js/i18n/jquery-ui-timepicker-addon-i18n.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery-ui-sliderAccess.js}" type="text/javascript"></script>
    <script th:src="@{/js/altDialog.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.toast.js}" type="text/javascript"></script>
    <script th:src="@{/js/myToast.js}" type="text/javascript"></script>
  <script type="text/javascript" th:inline="javascript">
  	
	var lottery = [[${lottery}]];
	var errorNumber = "杀率比例可输入的数值范围是：0到100";
	var errorMsg = "";
	
	function checkIssueAndTime(){
  		var isPass = true;
  		var startTime = $("#startTime").val();
  		var endTime = $("#endTime").val();
  		var issue = $("#issue").val();
  		if(startTime == "" && endTime == "" && issue == ""){
  			isPass = false;
  			errorMsg = "杀率区间段与杀率奖期请择一输入";
  		}else if((startTime != "" || endTime != "") && issue != ""){
  			isPass = false;
  			errorMsg = "杀率区间段与杀率奖期不可同时输入";
  		}else if(startTime != "" && endTime != ""){
  			var startDate = new Date(startTime);
  			var endDate = new Date(endTime);
  			
  			if(startDate >= endDate){
  				isPass = false;
  	  			errorMsg = "杀率区间段开始时间必须小于结束时间";
  			}
  		}
  		return isPass;
  	}
  	function doGenerate(){
  		var targetPoint = $("#killrate").val();
  		if(!checkIssueAndTime()){
  			myToast(errorMsg);
			return;
  		}
  		
  		
  		if(!checkKillrate(targetPoint)) {
			myToast(errorNumber);
			$('#killrate').val('');
			return;
		}
  		
  		var datas = $("#settingForm").serialize();
  		datas += "&lottery=" + lottery;
  		$.ajax({
			type: "POST",
			url: "/killrateSetting/generate",
			data: datas, // serializes 
			success: function(data)
			{
				if("200" == data.code){
					myToast(data.msg);
					location.reload();
				}else{
					myToastError(data.msg);
				}
			}
		});
  	}
  	
  	var originInput = "";
	function edit(id){
		$(".edit-hide").each(function(){
			$(this).attr("disabled", "disabled");
		})
		$("#editBtn" + id).hide();
		$("#removeBtn" + id).hide();
		$("#cancelBtn" + id).show();
		$("#saveBtn" + id).show();
	
		$("#killrateShow" + id).hide();
		$("#killrateInput" + id).show();
		originInput = $("#killrateInput" + id).val();
	}
	
	function remove(element){
		var id = $(element).attr("data-id");
		var issue = $(element).attr("data-issue");
		$.altDialog({
			title : "温馨提示",
			content : "是否刪除此筆殺率設定 獎期 : " + issue,
			style:"confirm",
			done:function() {
				datas = "id=" + id;
				$.ajax({
					type: "POST",
					url: "/killrateSetting/delete",
					data: datas, 
					success: function(data)
					{
						if("200" == data.code){
							myToast(data.msg);
							$("#dataTr" + id).remove();
						}else if( "201" == data.code){
							myToastError(data.msg);
							$("#dataTr" + id).remove();
						}else{
							myToastError(data.msg);
						}
					}
				});
			},
			cancel: function(){
			}
		});
	}
	
	function cancel(id){
		$(".edit-hide").each(function(){
			$(this).removeAttr("disabled");
		})
		$("#editBtn" + id).show();
		$("#removeBtn" + id).show();
		$("#cancelBtn" + id).hide();
		$("#saveBtn" + id).hide();
	
		$("#killrateShow" + id).show();
		$("#killrateInput" + id).hide();
		$("#killrateInput" + id).val(originInput);
	}
	
	function checkKillrate(targetPoint){
		var isPass = true;
		if (!/^[0-9]+(\.[0-9]{1,2})?$/.test(targetPoint) && targetPoint != '') {
			isPass = false;
		} else if(targetPoint * 1 > 100){
			isPass = false;
		} else if(targetPoint == ""){
			isPass = false;
		}
		return isPass;
	}
	
	function save(id){
		var targetPoint = $("#killrateInput" +id).val();
		
		if(!checkKillrate(targetPoint)) {
			myToast(errorNumber);
			$('#killrateInput' + id).val('');
			return;
		}
		
		var datas = "id=" + id + "&killrate=" + targetPoint;
	
		$.ajax({
			type: "POST",
			url: "/killrateSetting/update",
			data: datas,
			success: function(data)
			{
				if(data.code == "200"){
					myToast(data.msg);
					$(".edit-hide").each(function(){
						$(this).removeAttr("disabled");
					})
					$("#editBtn" + id).show();
					$("#removeBtn" + id).show();
					$("#cancelBtn" + id).hide();
					$("#saveBtn" + id).hide();
					
					$("#killrateShow" + id).html(targetPoint + "%");
					$("#killrateShow" + id).show();
					$("#killrateInput" + id).hide();
				}else if("201" == data.code){
					myToast(data.msg);
					$(".edit-hide").each(function(){
						$(this).removeAttr("disabled");
					})
					$("#dataTr" + id).remove();
				}else{
					myToast(data.msg);
				}
				
			}
		});
	}
	
	$('#startTime').datetimepicker({
		dateFormat : "yy-mm-dd",
		timeFormat : "HH:mm:00",
		minDateTime: new Date()
	});
  	$('#endTime').datetimepicker({
		dateFormat : "yy-mm-dd",
		timeFormat : "HH:mm:00",
		minDateTime: new Date()
	});
  	
  	function pagination(page){
  		$("#pageNo").val(page);
  		$("#settingForm").submit();
  	}
  </script>
  </div>
</html>